<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
</head>

<body>
    
    <div class="Header">
    <h1>Welcome to Meet2Us !</h1>
    <h3>L'outil pour vous aider à <span class="Bar">injecter</span> choisir vos futures réunions</h3>
    </div>
    <div class="ContainerButton">
        <div class="ContainerForm" >
            <p>Ici vous pouvez décider de créer une réunion afin d'y inviter tous vos collaborateurs </p>
            <button (click)="urlAddForm()">Ajouter un événement</button>
        </div>
        <div class="ContainerForm">
            <p>Ici vous pouvez grâce à votre password modifier votre formulaire</p>
            <button (click)="consultForm()">Consulter les événements</button>
        </div>
    </div>
</body>
